.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 10px;
  background-color: #f8f9fa;
}

.header-bar button,
.header-bar form,
.header-bar div {
  margin: 0 10px;
}

.header-bar form {
  display: flex;
  align-items: center;
}

.header-bar form label {
  margin-right: 5px;
}

.header-bar form input {
  margin-right: 10px;
}

.video-grid {
  width: 100%;
  height: calc(100vh - 150px); /* Adjust based on header and other elements */
  overflow: hidden;
  position: relative;
}

.video-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  border: grey 1px solid;
  flex-direction: column;
}

.video-header {
  text-align: left;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.video-header div {
  padding: 2px;
}

.video-container {
  flex: 1;
  position: relative;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
