.video-grid {
  width: 100%;
  height: calc(100vh - 150px); /* Adjust based on header and other elements */
  overflow: hidden;
  position: relative;
}

.video-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 2px;
  text-align: center;
  z-index: 4;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

.video-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
}

.video-item:hover .overlay {
  opacity: 1;
}

.overlay button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}