.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin: 20px;
  }
  
  .video-container {
    position: relative;
    width: 100%;
  }
  
  video {
    width: 100%;
    height: auto;
  }
  
  .load-new-video-btn {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }